@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Inconsolata");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * MAJOR BLOCK-LEVEL ELEMENTS
 */
body {
  font: 1.44em/1.6 "Open Sans", sans-serif;
  width: 960px;
  padding: 0;
  margin: 0 auto;
  color: #444;
}

header {
  background-color: #ddf;
}
header h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}
header p {
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  padding-bottom: 30px;
}

footer {
  font-size: .75em;
  margin: 30px 0;
}

aside {
  margin-top: 40px;
  width: 900px;
  left: 20px;
  position: relative;
  font-size: .85em;
  background-color: #ececff;
  padding: 20px;
}
aside p:first-of-type {
  background-color: #ddf;
  box-shadow: 10px 10px 10px #48487F;
  color: #48487F;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  height: 125px;
  left: -30px;
  margin: -10px 14px 0 -10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: -30px;
  width: 125px;
}
aside p:first-of-type span {
  line-height: 125px;
}
aside p:last-of-type {
  margin-bottom: 0;
}
aside .teletype {
  font-size: 1em "Inconsolata", "Inconsolata-dz", monospace;
}

audio {
  background-color: #ddf;
  float: left;
  margin: 0 12px 0 0;
  padding: 18px;
  width: 400px;
}

p {
  margin: 0 0 20px 0;
}

audio > object > param ~ p, audio > object + p {
  color: red;
}

pre {
  border-left: 3px solid #ddf;
  font: 0.8em/1.5 "Inconsolata", "Inconsolata-dz", monospace;
  margin: 30px 0;
  padding: 4px 0 4px 20px;
}

/**
 * HEADINGS
 */
h1, h2, h3 {
  color: #48487F;
  font-weight: bold;
}

h2, h3 {
  margin: 30px 0 24px;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.1em;
}

/**
 * INLINE ELEMENTS
 */
a {
  color: #23233e;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px dotted #48487F;
}

abbr {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px double #aaaaff;
  cursor: help;
}

em, i {
  font-style: italic;
}

q {
  font-style: italic;
}
q:before {
  content: "“";
}
q:after {
  content: "”";
}

/**
 * CLASSES
 */
.teletype {
  font: 1.05em "Inconsolata", "Inconsolata-dz", monospace;
}
.teletype span {
  position: relative;
  top: 2px;
}

@media all and (max-width: 1024px) {
  body, aside {
    font-size: 1.3rem;
    width: 90%;
  }

  pre {
    font-size: 1.3rem;
    white-space: pre-wrap;
  }
}
@media all and (max-width: 900px) {
  body, aside {
    font-size: 1.2rem;
  }

  pre {
    font-size: 1rem;
  }
}
@media all and (max-width: 768px) {
  body {
    font-size: 1.1rem;
    width: 90%;
  }

  aside {
    margin: 0 auto;
    width: 90%;
    left: 0;
    position: static;
    font-size: 1rem;
    padding: 14px;
  }
  aside p:first-of-type {
    height: auto;
    left: 0;
    margin: 4px 20px 0 0;
    position: static;
    top: 0;
  }

  pre {
    font-size: .9rem;
  }
}
@media all and (max-width: 640px) {
  body {
    font-size: 1.1rem;
    width: 96%;
    padding: 0 2%;
  }

  pre {
    white-space: pre-line;
    font-size: 1rem;
  }

  aside {
    width: 94%;
  }
}
@media all and (max-width: 460px) {
  audio {
    float: none;
    margin: 20px auto;
    display: block;
    padding: 0;
    width: 300px;
  }

  pre {
    font-size: .8rem;
  }

  h2:nth-of-type(4) + p span[class="teletype"] {
    font-size: .85rem;
  }
}
